{% extends "base.html" %}
{% block title %}Sistema de Upload de Documentos - Garagem do Zé{% endblock %}
{% block content %}

<script>
  function openDocs(evt, docType) {
  var i, tabcontent, tablinks;

  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  document.getElementById(docType).style.display = "block";
  evt.currentTarget.className += " active";
} 
</script>

<div class="home_container">
  {% if user.is_authenticated %}
    <div class="header_container">
      <div class="header_name">
        Olá, {{ user.username }}.
      </div>
      <div class="header_logout">        
        <p><a href="{% url 'logout' %}">Log Out</a></p>
      </div>
    </div>
    {% if user.username == 'cliente' %}
      <div class="docs">
        <div class="docs_title">
          DOCUMENTOS NECESSÁRIOS
        </div>

        <div class="tab">
          <button class="tablinks" onclick="openDocs(event, 'docs_list_portugueses')">Portugueses</button>
          <button class="tablinks" onclick="openDocs(event, 'docs_list_estrangeiros')">Estrangeiro</button>
          <button class="tablinks" onclick="openDocs(event, 'docs_list_empresas')">Empresas</button>
          <button class="tablinks" onclick="openDocs(event, 'docs_list_socios')">Sócios</button>
        </div>

        <div class="docs_list">
          <div id="docs_list_portugueses" class="tabcontent">
            <h4>
              Portugueses
            </h4>
            <ul>
              <li>Cartão do Cidadão</li>
              <li>Recibo de vencimento (últimos três)</li>
              <li>Morada - comprovativo (últimos três meses - luz / água / internet / telefone)</li>
              <li>IRS (Mod. 3)</li>
              <li>Comprovativo IBAN</li>
              <li>Tempo de empresa</li>
              <li>E-mail e contacto</li>
              <li>Se casado/a tem de apresentar os mesmos  docs do cônjuge</li>
            </ul>
          </div>
          <div id="docs_list_estrangeiros" class="tabcontent">
            <h4>
              Estrangeiros
            </h4>
            <ul>
              <li>Título de Residência/CPLP</li>
              <li>Passaporte no caso de CPLP</li>
              <li>3 Últimos recibos vencimento</li>
              <li>IRS (Mod. 3)</li>
              <li>Comprovativo IBAN</li>
              <li>Extrato bancário últimos 3 meses</li>
              <li>Tempo de empresa</li>
              <li>E-mail e contacto</li>
            </ul>
          </div>
          <div id="docs_list_empresas" class="tabcontent">
            <h4>
              Empresas
            </h4>
            <ul>
              <li>Certidão Permanente</li>
              <li>Código IES</li>
              <li>Códgo IRC</li>
              <li>Último balancete</li>
              <li>Comprovativo IBAN</li>
              <li>Morada - comprovativo (últimos três meses - luz / água / internet / telefone)</li>
            </ul>
          </div>
          <div id="docs_list_socios" class="tabcontent">
            <h4>
              Sócios
            </h4>
            <ul>
              <li>CC / BI / Título de Residência</li>
              <li>Comprovativo IBAN</li>
              <li>Morada - comprovativo (últimos três meses - luz / água / internet / telefone)</li>
              <li>IRS (Mod. 3)</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="form_container">
        <form action="{% url 'up' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <br>
          <p>
            <label for="fisrt_name">
              Nome:
            </label> 
            <input 
              type="text" 
              id="first_name" 
              name="first_name" 
              maxlength="80" 
              required>
          </p>
          <p>
            <label for="second_name">
              Sobrenome: 
            </label>
            <input 
              type="text" 
              id="second_name" 
              name="second_name" 
              maxlength="120" 
              required>
          </p>
          <p>
            <label for="email">
              Email: 
            </label>
            <input type="text" name="email" maxlength="60" ></p>
          <p>
            <label>
              Nome do Documento: 
            </label>
            <input 
              type="email" 
              id="docname"
              name="docname">
          </p>
          <p>
            <label for="docfile">
              Selecione o arquivo:
            </label>
            <input 
              type="file" 
              id="docfile" 
              name="docfile" 
              class="btn btn-dark"
              required
            >
          </p>
          <p>
            <div class="form_details">              
              <label for="details">
                  Detalhes adicionais: 
              </label>
              <textarea 
                id="details" 
                name="details" 
                minlength="30" 
                maxlength="40"
                required>
              </textarea>
            </div>
          </p>
          <p><button class="btn btn-dark" type="submit">Enviar</button></p>
        </form>
      </div>
    {% endif %}
    {% else %}
    <p>Você não está logado</p>
    <a href="{% url 'login' %}">Log In</a>
    <script>
      location = "{% url 'login' %}";
    </script>  
  {% endif %}
</div>

{% endblock %}